<a href="/">Go Back</a>

<section class="login-box">
  <div class="text-center">
    <h1 class="header-text">Create an account</h1>

    <form action="/signup" method="POST">
      <input name="email" type="email" placeholder="enter your email address" />
      <input
        name="password"
        type="password"
        placeholder="enter your password"
      />
      <button>Submit</button>
    </form>
  </div>
</section>