{{! GET RECENT POSTS? }}

<div>
  <h2 class="text-center">Recipes of the day</h2>
</div>

<div class="row main-recipes">
  {{#each recipes as |image|}}
    <div id="recipes" class="column">
      <div class="card"><img src={{image}} alt="" srcset="" /></div>
    </div>
  {{/each}}
</div>

<section>
  <h3>FOODIE REVIEW VIDEO</h3>
  {{! video? }}
</section>

<section class="about">
  <div class="about-box">
    <h3>What's cookin' good lookin'? </h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt sint
      harum animi cupiditate esse iure aut id debitis nam possimus illo, itaque
      repellendus ullam, ipsum quas! Fugiat porro quas hic?</p>
  </div>
</section>

<section id="posts">
  {{#each post}}
    <div id="post">
      <div id="postheader">
        <h5>test--categoryDisplay</h5>
        <h3>{{this.title}}</h3>
        <h5>test--authorDisplay</h5>
      </div>
      <p>{{this.content}}</p>
    </div>
  {{/each}}
</section>