{{!-- User Controller - form to create new post - only accessable if logged in --}}

<form  action="/newpost" method="POST">
  <input name="title" type="text" placeholder="Title">
  <input name="content" type="text" placeholder="">
  <select name="category_name">
     <option value="1">Recipe</option>
     <option value="2">Tips</option>
     <option value="3">Question</option>
  </select>   
  <button>Submit</button>
</form>