{{!-- User Controller - form to create new post - only accessable if logged in --}}

<form  action="/createpost" method="POST">
  <input name="title" type="text" placeholder="Title">
  <input name="content" type="text" placeholder="">
  <select id="cars" name="cars">
     <option value="recipe">Recipe</option>
     <option value="tips">Tips</option>
     <option value="question">Question</option>
  </select>   
  <button>Submit</button>
</form>