{{! User Controller - form to create new post - only accessable if logged in }}
<div id="newpost">
  <form action="/newpost" method="POST">
    <input id="titleinput" name="title" type="text" placeholder="Title" />
    <input id="content" name="content" type="textarea" placeholder="" />
    <span>Category:</span><select id="category" name="category">
      <option value="recipe">Recipe</option>
      <option value="tips">Tips</option>
      <option value="question">Question</option>
    </select>
    <button>Submit</button>
  </form>
</div>