:root {
  --primary-color: #c2714f;
}

.navbar {
  background-color: var(--primary-color);
  justify-content: space-around;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #dbd3ad;
}
.searchbar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
  width: 500px;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 50px;
}

#title {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
}

footer {
  margin-top: 80vh;
  text-align: center;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 40px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.main-recipes {
  margin: 0 -5px;
}

.card {
  box-shadow: 0 5px 5px 0 #d36060;
  padding: 20px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.video {
  margin: 30px 200px;
}

.video-box {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  background: var(--primary-color);
  border: 20px black;
  border-radius: 20px;
}

.about {
  margin: 30px 175px;
}

.about-box {
  text-align: center;
  font-size: 20;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  background: var(--primary-color);
  border: 20px black;
  border-radius: 20px;
}

h3 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 40px;
  text-align: center;
}

/* LOGIN */

.login-box {
  margin: 0 500px;
  height: 100px;
  background: var(--primary-color);
  border-radius: 20px;
}

/* POSTs */

#post {
  margin: 0 5%;
  padding: 2%;
  margin-top: 2%;
  border: 5px, solid, rgb(255, 255, 255);
  border-radius: 20px;
  background: var(--primary-color);

  text-align: center;
}

#postheader {
  font-family: "Alegreya Sans SC", sans-serif;
  color: black;
  display: flex;
  justify-content: space-evenly;
}

#username {
  margin-left: 5%;
}

.profile {
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-right: 10%;
  padding-bottom: 1%;
  border-radius: 10px;
}

.profile h4 {
  
  padding: 1%;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
}

#userstats {
  padding: 5%;
  margin-bottom: 5%;
}


#makepost {
  color: white;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 2.5%;
  border-radius: 8px;
}

.menu-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 16px;

  border: none;
}
.dropdown-menu {
  position: relative;
  display: inline-block;
  background-color: var(--primary-color);
}
.menu-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  z-index: 1;
}

.links,
.links-hidden {
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;

  font-weight: bold;
}
.links-hidden {
  display: block;
}
.links {
  display: inline-block;
}
.links-hidden:hover,
.links:hover {
  background-color: rgb(8, 107, 46);
}
.dropdown-menu:hover .menu-content {
  display: block;
}

#newpost {
  
  margin: 0 auto;
  width: 50%;
  /* justify-content: center; */
  background-color: rgb(122, 80, 80);
  margin-top: 10%;
  
}

#newpost form {
  align-items: center;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

#titleinput {
  margin: 1%;
  width: 50%;
  
}

#content {
  margin: 1%;
  width: 80%;
  /* padding: 10% */
  min-height: 500px;
  
}

.postlink {
  text-decoration: none !important;
  color:black;
}
