.navbar {
  background-color: rgb(122, 80, 80);
  justify-content: space-around;
}

.searchbar {
  border-radius: 10px;
  width: 500px;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 50px;
}

#title {
  text-decoration: none !important;
  color:rgb(255, 255, 255);
}

footer {
  margin-top: 80vh;
  text-align: center;
  background-color: rgb(122, 80, 80);
  color: rgb(255, 255, 255);
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 40px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.main-recipes {
  margin: 0 -5px;
}

.card {
  box-shadow: 0 5px 5px 0 rgb(134, 13, 13);
  padding: 20px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.about {
  margin: 0 200px;
}

.about-box {
  text-align: center;
  padding: 20px;
  background: rgb(166, 166, 166);
  border: 20px black;
  border-radius: 20px;
}

h3 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 40px;
  text-align: center;
}

/* LOGIN */

.login-box {
  margin: 0 500px;
  height: 100px;
  background: rgb(166, 166, 166);
  border-radius: 20px;
}

/* POSTs */

#post {
  margin: 0 5%;
  padding: 2%;
  margin-top: 2%;
  border: 5px, solid, rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(166, 166, 166);
  
  text-align: center;
}

#postheader {
  font-family: "Alegreya Sans SC", sans-serif;
  display: flex;
  justify-content: space-evenly;
}

.profile {
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-right: 5%;
  padding-bottom: 3%;
  border-radius: 10px;
}

.profile h4 {
  padding: 1%;
  color: white;
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: rgb(122, 80, 80);
}
#makepost {
  
  color: white;
  text-decoration: none;
  background-color: rgb(122, 80, 80);
  padding: 2.5%;
  border-radius: 8px;
}

.menu-btn {
  background-color: rgb(122, 80, 80);
  color: white;
  padding: 16px;
  
  
  
  border: none;
}
.dropdown-menu {
  position: relative;
  display: inline-block;
  background-color: rgb(122, 80, 80);
}
.menu-content {
  display: none;
  position: absolute;
  background-color: rgb(122, 80, 80);
  min-width: 160px;
  z-index: 1;
}


.links,.links-hidden{
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  
  font-weight: bold;
}
.links-hidden{
  display: block;
}
.links{
  display: inline-block;
}
.links-hidden:hover,.links:hover {
  background-color: rgb(8, 107, 46);
}
.dropdown-menu:hover .menu-content {
  display: block;
}
/* .dropdown-menu:hover .menu-btn {
  background-color: #3e8e41;
} */