.navbar {
  background-color: rgb(122, 80, 80);
}

.searchbar {
  border-radius: 10px;
  width: 500px;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 50px;
}

footer {
  text-align: center;
  background-color: rgb(122, 80, 80);
  color: rgb(255, 255, 255);
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 40px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.main-recipes {
  margin: 0 -5px;
}

.card {
  box-shadow: 0 5px 5px 0 rgb(134, 13, 13);
  padding: 20px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.about {
  margin: 0 200px;
}

.about-box {
  text-align: center;
  padding: 20px;
  background: rgb(166, 166, 166);
  border: 20px black;
  border-radius: 20px;
}

h3 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 40px;
  text-align: center;
}

/* LOGIN */

.login-box {
  margin: 0 500px;
  height: 100px;
  background: rgb(166, 166, 166);
  border-radius: 20px;
}

/* POSTs */

#post {
  margin: 0 5%;
  padding: 2%;
  margin-top: 2%;
  border: 5px, solid, rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(166, 166, 166);
  
  text-align: center;
}

#postheader {
  font-family: "Alegreya Sans SC", sans-serif;
  display: flex;
  justify-content: space-evenly;
}